<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SciBot</title>

        <!-- Bootstrap Core CSS -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    </head>

    <body>
        <div class="top">
        <div class="topNiva">

        <!-- Navigasjon -->
        <!--
        <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
                <li class="sidebar-brand">
                    <a href="#top" onclick='$("#menu-close").click();'>SciBot</a>
                </li>
                <li>
                    <a href="index.html" onclick='$("#menu-close").click();'>Hjem</a>
                </li>
                <li>
                    <a href="#omOss" onclick='$("#menu-close").click();'>Om oss</a>
                </li>
                <li>
                    <a href="#kontakt" onclick='$("#menu-close").click();'>Kontakt</a>
                </li>
            </ul>
        </nav>
    -->
    </div>
    <header id="top" class="header">
        <div class="text-vertical-center">
            <div id="box">
            <h1>{{title}}</h1>
            <h3>{{undertittel}}</h3>

            <br>
            <div class="sok">
               
                    
                            
                 <!--   
                <select #inst style="color: black; vertical-align: bottom; width:17.926em; font-size:20.1px; " id="institusjon">
                    <option>Velg institusjon</option>
                    <option *ngFor="let inst of institusjoner"
                        (click)="tilInstitusjon(inst.id)" >{{inst.navn}}</option>
                </select>
                
-->
<person-sok></person-sok>
                </div>
                    <button (click)="personDetaljer()" class="btn btn-primary" style="background-color:#193663; width:20%;">
                        Hent person
                    </button>
                </div>
            </div>
        </header>
    </div>


        <!-- jQuery -->
        <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/autofullfor.js"></script>
        <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        </script>
    </body>
</html>
