<header id="top" class="header">
        <div class="text-vertical-center">
            <div id="box">
            <h1>{{title}}</h1>
            <h3>{{undertittel}}</h3>

            <br>
            
            <div class="sok">
                <!-- TODO: fikse søkeresultater -->
                <person-sok></person-sok>
                
                <select #inst style="color: black; vertical-align: bottom; width:17.926em; font-size:20.1px;" id="institusjon">
                    <option>Velg institusjon</option>
                    <option *ngFor="let inst of institusjoner"
                        (click)="tilInstitusjon(inst.id)" >{{inst.navn}}</option>
                </select>
                

            
                </div>


                    <button (click)="personDetaljer()" class="btn btn-primary" style="background-color:#193663; width:20%;">
                        Hent person
                    </button>
                </div>
            </div>
        </header>